<!-- <br />
<br /><br /><br /> -->
<!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
<!-- 
<br /><br /> --><!-- card  -->
<div class="background">
  <div id="mainContent">
    <figure class="gameCard">
      <img src="../../../assets/img/game1.jpg" alt="sample108" />
      <figcaption>
        <h3>Ping Pong</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis
          recusandae quo odit est a quia veritatis. Quaerat possimus nulla
          mollitia? Pariatur eos distinctio soluta debitis odit nemo! Veritatis,
          laudantium autem.
        </p>
      </figcaption>
    </figure>
    <button (click)="startpong()">start</button>
    <!-- <a routerLink="/pong"><button>start pong</button></a> -->
    <figure class="gameCard">
      <img src="../../../assets/img/game1.jpg" alt="sample100" />
      <figcaption>
        <h3>Car</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos,
          tempore. Alias labore, amet placeat quos iure velit temporibus ullam
          ipsum blanditiis, sapiente repellendus! Neque nemo in iusto quibusdam,
          harum corrupti!
        </p>
      </figcaption>
      <!-- <a routerLink="/car"></a> -->
    </figure>
    <button (click)="startcar()">start</button>
    <figure class="gameCard">
      <img src="../../../assets/img/game1.jpg" alt="sample101" />
      <figcaption>
        <h3>Rock Papper Sissors</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
          sequi nam, eius aliquam quis quos blanditiis tempora repellendus
          veritatis assumenda. Atque quasi exercitationem hic tempora eveniet
          magni architecto magnam non?
        </p>
      </figcaption>
      <!-- <a routerLink="/rps"></a> -->
    </figure>
    <button (click)="startrps()">start</button>
  </div>
</div>

<!-- <mat-paginator [pageSizeOptions]="[ 3, 4]"></mat-paginator> -->

<!-- <mat-progress-bar mode="query"></mat-progress-bar> -->
<!-- </div> -->
