table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}
.main-dash {
  background: white;
}
.cards1 {
  border-radius: 0.5em;
  box-shadow: -12px -12px 12px 0 rgb(255, 255, 255, 1),
    12px 12px 12px 0 rgba(0, 0, 0, 0.03);
}
.buttonsforNav {
  float: right;
}
.cardscontainer {
  background: #eeeeee;
  h2 {
    text-align: center;
  }
}
.quizSection {
  background: #eeeeee;
}
.addQuiz {
  padding: 20px;
  margin: 40px;
}
.deleteQuiz {
  padding: 20px;
  margin: 40px;
}
.deleteQuizTab {
  text-align: center;
}
